import React from 'react';
import './index.css';

const App: React.FC = () => {
  const openUrl = (url: string) => {
    window.JSSDK.navigation.open(url);
  };

  return (
    <div className="wrapper">
      <h1 className="title">
        <%= pluginName %>
      </h1>
      <p className="desc">
        <span className="desc-text">
          <span>🛠️</span>
          Get started by editing
        </span>
        <pre className="desc-entry">
          <%= entryPath %>
        </pre>
      </p>
      <div className="btn-group"><% docs.forEach(function(doc){ %>
        <a
          onClick={() => openUrl("<%= doc.url %>")}
          className="<% if (doc.type==='primary' ) { %>primary<% } else { %>secondary<% } %>"
        >
          <svg className="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false"><path d="M2.66675 11.3333L6.66675 7.33325L2.66675 3.33325M8.00008 12.6666H13.3334" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"></path></svg>
          <span>
            <%= doc.text %>
          </span>
        </a><% }); %>
       </div>
    </div>
  );
}

export default App;