#app {
  min-height: 460px;
  width: 100%;
  display: flex;
  align-items: center;
}

a.primary {
  border: 1px solid rgba(28,31,35,.08);
  background: rgba(28,31,35,1);
  color: #fff;
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 440;
}

a.primary .icon {
  color: #fff;
}

a.secondary {
  border: 1px solid rgba(28,31,35,.08);
  background: #fff;
  color: rgba(28,31,35,1);
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 440;
}

a.secondary .icon {
  color: rgba(28,31,35,1);
}

a.primary:hover {
  background: rgba(28,31,35,.8);
}

a.secondary:hover {
  background: rgba(46,50,56,.09);
}

.icon {
  font-size: 20px;
  margin-right: 4px;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 8px;
  line-height: 34px;
  word-break: break-all;
  white-space: pre-wrap;
  width: 100%;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6px 16px;
  border-radius: 32px;
  line-height: 22px;
  margin: 16px 0 36px;
  max-width: 100%;
  box-sizing: border-box;
  font-weight: 440;
}

.desc-text {
  margin-bottom: 4px;
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 100%;
}

.desc-text > span {
  margin-right: 10px;
}

.desc-entry {
  margin: 0;
  color: #3250EB;
  white-space: pre-wrap;
  word-break: break-all;
  max-width: 100%;
  text-align: center;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  max-width: 100%;
}